<div class="row">

    <div class="col-lg-8" >
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">Your Links</div>
                <div class="panel-body" ng-repeat="story in story.stories |reverse">
                    <p><a href="{{story.content}}" target="_blank">{{story.content}}</p>
                </div>
            </div>
        </div>
    </div>

</div>