<div class="jumbotron text-center" ng-if="!main.loggedIn">
    <div>
        <h1>If You have Balls Sign up!!</h1>
    </div>
    <div>
        <p>Login to store your Stories</p>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>
</div>

<div class="row" ng-if="main.loggedIn">


        <div class="col-lg-8" ng-controller="storyCtrl as story">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Save Your Links
                    </div>
                    <div class="panel-body">
                        <form ng-submit="story.createStory()">
                            <input type="text" class="form-control input-lg" ng-model="story.storyData.content" placeholder="...." required>
                        </form>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">Your Links</div>
                    <div class="panel-body" ng-repeat="story in story.stories | reverse">
                        <p><a href="{{story.content}}" target="_blank">{{story.content}}</a></p>
                    </div>
                </div>

            </div>

        </div>
</div>