<!DOCTYPE>
<html>
<head>
    <base href="/">
    <title>Shaka Laka Laka</title>

    <!--css-->
    <link  rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">

    <!--bower-->

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>



    <!--controllers/modules/services-->
    <script src="app/controllers/mainCtrl.js" type="text/javascript"></script>
    <script src="app/services/authService.js" type="text/javascript"></script>
    <script src="app/services/userService.js" type="text/javascript"></script>
    <script src="app/services/storyService.js" type="text/javascript"></script>
    <script src="app/controllers/userCtrl.js" type="text/javascript"></script>
    <script src="app/controllers/storyCtrl.js" type="text/javascript"></script>
    <script src="app/directives/reverse.js" type="text/javascript"></script>

    <script src="/socket.io/socket.io.js" type="text/javascript"></script>

    <script type="text/javascript" src="app/app.route.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <!--<script>angular.module('myApp', []);</script>-->
</head>
    <body ng-app="myApp" ng-controller="mainCtrl as main">
    <header>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-book"></span>StoryHub</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/users"></a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
                    <li ng-if="!main.loggedIn"><a href="/signup">SignUp</a></li>
                    <li ng-if="main.loggedIn"><a href="/allstories">All Links</a>
                    <li ng-if="main.loggedIn"><a href="#">Hello {{main.user.username}}</a></li>
                    <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
                </ul>

            </div>
        </div>

    </header>
        <main class="container">
            <div ng-view></div>
        </main>

    </body>
</html>